/*! Normalize */

body{
    height: 100%
}
* {
    box-sizing: border-box;
}
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding:0;
    line-height: 1.2em;
    text-transform: uppercase;
}
h4 {
    padding: 5px;
}
ul {
    margin: 0;
    padding: 0;
}
main {
    margin: 0 20px;
}
p {
    padding: 0 5px;
}
/*! Typography */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 3rem;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 10px 15px 10px;
    letter-spacing: .2rem;
    font-size: 1rem;
}
p,
    nav,
    div,
    a,
    figcaption,
    span {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   /* page links */
   ul.page-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:#333;
  }
  .page-links li {
    float: left;
  }
  .page-links a {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .page-links a:hover {
    background-color: gray;
    color: white;
  }
  .page-links .active {
    background-color:#ffbf00;
    color: black;
  }
/*! Social Links */
  ul.social-links {
    list-style-type: none;
    /* trick to getting text to center */
    /* set height = line-height */
    height: 48px;
    line-height: 48px;
}
.social-links li {
    display: inline-block;
    width: 5rem;
    background-color: #ffbf00;
    text-align: center;
}
.social-links a {
    color: black;
    text-decoration: none;
}
.social-links a:hover {
    color: white;
}
.social-links li:hover {
    background-color: gray;
}
/*! Nav Bar */
nav {
    position: relative;
    height: 48px;
    background-color: black;
}
.nav-right {
    position: absolute;
    right: 0;
    top: 0;
}

.nav-left {
    position: absolute;
    left: 0;
    top: 0;
}